.activeBorder + a{
    color:#2c3e50;
    font-weight: 700;
    letter-spacing: .25px;
}

#caracWeb #desMob h4{
    line-height: 3em;
}

#caracWeb h4{
    line-height: 3em;
}

#caracWeb i{
    font-size: 10em;
}

#caracWeb #desMob i{
    color:#5DAB24;
}

#caracWeb #desWeb i{
    color:black;
}

#caracWeb #desDes i{
    color:#1D77D2;
}