/* .active
{
    background: white;
}
.active a
{
    color: #2c3e50;
    font-weight: 700;
    letter-spacing: 2.5px;
} */

.activeBorder{
    width: 16.6%;
    height:63px;
    transform: rotateZ(0) rotateX(0);
    border:none;
}
.activeBorder + a{
    color:#2c3e50;
    font-weight: 700;
    letter-spacing: .25px;
}