<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/sections/mobileDev.css">
    <script>
        $('document').ready(function(){
            $('nav ul li:nth-child(3)').toggleClass('active');
            $('nav ul li:nth-child(3) span').toggleClass('activeBorder');
        });
    </script>
    <style>
        .activeBorder{
            width: 16.6%;
            height:63px;
            transform: rotateZ(0) rotateX(0);
            border:none;
        }
    </style>
</head>
<body>
    <% include ../partials/navbar %>

    <div id="img_in">
        <p>Desarrollo Móvil</p>
        <p id="desc">El desarrollo móvil es el proceso en la programación de software para dispositivos, como teléfonos inteligentes o tabletas.</p>
    </div>
    <div id="caracWeb">
        <div id="desMob">
            <a href="">
                <h4>Android</h4>
                <i class="fab fa-android"></i>
            </a>
        </div>
        <div id="desWeb">
            <a href="">
                <h4>iOS</h4>
                <i class="fab fa-apple"></i>
            </a>
        </div>
        <div id="desDes">
            <a href="">
                <h4>Windows Phone</h4>
                <i class="fab fa-windows"></i>
            </a>
        </div>
    </div>

    <% include ../partials/footer %>
</body>
</html>