<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script>
        $('document').ready(function(){
            $('nav ul li:nth-child(1)').toggleClass('active');
            $('nav ul li:nth-child(1) span').toggleClass('activeBorder');
        });
    </script>
    <style>
        .activeBorder{
            width: 16.6%;
            height:63px;
            transform: rotateZ(0) rotateX(0);
            border:none;
        }
    </style>
</head>
<body>

    <% include partials/navbar %>
    
    <div id="img_in">
        <p>Bienvenido</p>
        <p id="desc">El desarrollo de aplicaciones es un mundo lleno de cambios y de lógica. Sirve como ejercicio para tu cerebro y a la vez le hace bien a tu economía si trabajas en esto.</p>
    </div>
    <div id="caracWeb">
        <div id="desMob">
            <a href="/sections/mobileDev" title="Desarrollo Móvil">
                <h4>Desarrollo de Aplicaciones Móviles</h4>
                <img src="imgs/apps_mobile-01.jpg" alt="Imagen sobre desarrollo de aplicaciones móviles">
            </a>
        </div>
        <div id="desWeb">
            <a href="">
                <h4>Desarrollo Web</h4>
                <img src="imgs/web-development.jpg" alt="Imagen sobre desarrollo web">
            </a>
        </div>
        <div id="desDes">
            <a href="" title="Próximamente">
                <h4>Desarrollo de Aplicaciones de Escritorio</h4>
                <img src="imgs/apps_desktop-01.jpg" alt="Imagen sobre desarrollo de aplicaciones de escritorio">
            </a>
        </div>
    </div>
        
    <% include partials/footer %>

</body>
</html>