<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/navbar %>

    <div>
        <img class="img-fluid" style="max-width: 100%; height: auto; filter: brightness(50%)" src="https://picjumbo.com/wp-content/uploads/night-owl-man-working-on-computer-at-night-2210x1473.jpg">
        <div class="text-center position-absolute" style="top: 15%; left: 2.5%;">
            <div class="card" style="width: 33.33%;">
                <img src="https://s3.amazonaws.com/sitebuilderreport-assets/stock_photos/files/000/039/285/small/HTML.-Web-development-concept-7354-600x400.jpg?1508074258" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Desarrollo Web</h5>
                    <p class="card-text">El Desarrollo web es un término que define la creación de sitios web para Internet o una intranet. Para conseguirlo se hace uso de tecnologías de software del lado del servidor y del cliente que involucran una combinación de procesos de base de datos con el uso de un navegador web a fin de realizar determinadas tareas o mostrar información.</p>
                    <a href="/webDevelopment" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>
</html>