<footer>
    <div id="container">
        <div id="col1">
            <ul>
                <li><a href="/"><i class="fas fa-book logo_icon"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="" title="Próximamente">Artículos</a></li>
                <li><a href="" title="Próximamente">Contacto</a></li>
                <li><a href="" title="Próximamente">Portafolio</a></li>
                <li>&copy; 2018 - 2019 Angel Berlanga</li>
            </ul>
        </div>
    </div>
</footer>