<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Desarrollo de Aplicaciones</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- <script>
    var carpeta = "/img";
    var images = ["bg1.jpg"];
    images.forEach(function(img) {
        var image = new Image();
        image.src = carpeta + "/" + img;
        image.onerror = error;
    });

    function error(e) {
        console.log(e)
    }
</script> -->