<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Desarrollo de Aplicaciones <%= title %></title>
<link rel="icon" href="/imgs/favicon(2).png">

<!-- CSS -->
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/icono_menu.css">
<link rel="stylesheet" href="/styles/preloader.css">
<link rel="stylesheet" href="/styles/responsive.css">
<link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,500,700|Archivo:400,500,700|Roboto:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/scripts/icon_menu.js"></script>
<script src="/scripts/scripts.js"></script>