<header>
    <div id="logo">
        <i class="fas fa-book logo_icon"></i>
        <h1>
            <a href="/">Desarrollo de Aplicaciones</a>
        </h1>
        <h2>
            <a href="/">Móviles - Web - Escritorio</a>
        </h2>
        <div class="contenedor_icon_menu">
            <div class="icono_menu"></div>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <span class="border border1">&nbsp;</span>
                <a href="/">Inicio</a>
            </li>
            <li>
                <span class="border border2">&nbsp;</span>
                <a href="" title="Próximamente">Articulos</a>
            </li>
            <li>
                <span class="border border3">&nbsp;</span>
                <a href="/sections/mobileDev" title="">Desarrollo de apps móviles</a>
            </li>
            <li>
                <span class="border border4">&nbsp;</span>
                <a href="/sections/webDev">Desarrollo Web</a>
            </li>
            <li>
                <span class="border border5">&nbsp;</span>
                <a href="" title="Próximamente">Desarrollo de apps de Escritorio</a>
            </li>
            <li>
                <span class="border border6">&nbsp;</span>
                <a href="" title="Próximamente">Contacto</a>
            </li>
        </ul>
    </nav>
</header>